<section id="header">
  <div class="container">

    <!-- Logo -->
      <h1 id="logo">
        <a routerLink="/">
          <img src="assets/images/Logo.png" alt="Kaizen Tours" height="80px" >
        </a>
      </h1>
      <p>Book Your future holidays.</p>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a routerLink="/" class="icon solid fa-home"><span>Home</span></a></li>
          <li><a routerLink="/about" class="icon solid fa-home"><span>About US</span></a></li>
          <li><a routerLink="/contact" class="icon solid fa-retweet" >Contact Us</a></li>
          <li><a routerLink="/upcoming-tours" class="icon solid fa-plane-departure">Upcoming Tours</a></li>
          <li><a routerLink="/booking" class="icon solid fa-retweet" >Booking</a></li>
          
          <!-- <li>
            <a href="#" class="icon fa-chart-bar"><span>Dropdown</span></a>
            <ul>
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Magna phasellus</a></li>
              <li><a href="#">Etiam dolore nisl</a></li>
              <li>
                <a href="#">Phasellus consequat</a>
                <ul>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                  <li><a href="#">Phasellus consequat</a></li>
                </ul>
              </li>
              <li><a href="#">Veroeros feugiat</a></li>
            </ul>
          </li> -->
          
          <!-- <li><a class="icon solid fa-cog" href="left-sidebar.html"><span>Left Sidebar</span></a></li>
          <li><a class="icon solid fa-retweet" href="right-sidebar.html"><span>Right Sidebar</span></a></li>
          <li><a class="icon solid fa-sitemap" href="no-sidebar.html"><span>No Sidebar</span></a></li> -->
        </ul>
      </nav>

  </div>
</section>